*:not(html):not(body):not(head):not(title):not(meta):not(link):not(script):not(style):not(svg) {
  border-radius: 0.2rem !important;
}

/* transparent window controls background */
.spotify__container--is-desktop:not(.fullscreen) body::after {
  content: "";
  position: absolute;
  right: 0;
  top: 16px;
  z-index: 999;
  backdrop-filter: brightness(2.12);
  width: 135px;
  height: 32px;
}
/* hide banner ads */
.main-leaderboardComponent-container {
  display: none;
}

.WiPggcPDzbwGxoxwLWFf.contentSpacing {
  display: none;
}

.desktoproutes-homepage-takeover-ad-hptoComponent-parentContainer,
.desktoproutes-homepage-takeover-ad-hptoComponent-container {
  display: none !important;
}

/* hide upgrade button */
.main-topBar-UpgradeButton {
  display: none;
}

/* simplify profile menu */
.main-userWidget-displayName,
.main-userWidget-notificationIndicator {
  display: none;
}

.main-avatar-userIcon {
  color: white;
}

.main-userWidget-box {
  background-color: transparent !important;
}

.main-userWidget-chevron {
  display: none;
}
.profile-userOverview-imageContainer {
  display: none;
}

.main-entityHeader-background,
.main-entityHeader-backgroundColor,
.main-entityHeader-overlay,
.main-actionBarBackground-background,
.main-buddyFeed-container,
.main-nowPlayingView-content.main-nowPlayingView-gradient {
    background-color: transparent !important;
    background-image: none;
}

.BV0jjn_h5TtMMl8YKuZ0 {
  border: none;
}